@using Microsoft.AspNetCore.Identity
@using MONAQuiz.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="icon fas fas fa-user fa-2x" style="color: white"></i></a>
    </li>
    <li>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <a  class="nav-link text-dark" href="#" onclick="document.getElementById('logoutForm').submit()" title="Logout"><i class="icon fas fa-sign-out-alt fa-2x" style="color: white"></i></a>
        </form>
    </li>
}
else
{
    <li>
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="icon fas fa-user-plus fa-2x" style="color: white"></i></a>
    </li>
    <li class="nav-link text-dark">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="icon fas fa-sign-in-alt fa-2x" style="color: white"></i></a>
    </li>
}
</ul>
